# Python Cache
__pycache__/
*.py[cod]

# Packaging
*.egg-info/
dist/
build/

# Dependencies
requirements.txt
poetry.lock

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS
.DS_Store

# Misc
trash/
